
body{
    background: linear-gradient(#141e30, #243b55);
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}